// getting google font

/* SANS PRO */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&display=swap');
//font-family: 'Source Sans Pro', sans-serif;
/* OPEN SANS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
/* HELVATICO  */
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    user-select: none;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}




// Global Vairables Vaiables
$btn-primary-fontSize: 13px;

//Primary BTN
 @mixin Primary_Button{
    justify-self: start;
    align-self: end;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    background: #fff;
    border: none;
    cursor: pointer;
    background: rgb(15, 75, 155);
    color: #FFF;
    font-weight: 600;
    font-size:$btn-primary-fontSize;
    letter-spacing: 1px;
    outline: none;
 
    &:active{
        outline: none;
    }
 }

 .GlobalBtnSecondary{
     width: auto;
     height: 40px;
     font-size: 13px;
     font-weight: 700;
     letter-spacing: 1px;
     color: #0f4b9b;
     text-transform: uppercase;
     cursor: pointer;
     font-size: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #fff;
     outline: none;
     border: none;
     border-radius: 18px;
     box-shadow: 1px 2px 3px 1px rgb(207, 207, 207);
     max-width: 200px;
     overflow: hidden;
     text-align: center;
     & span {
        display: flex;
        align-items: center;
        justify-content: center;
        height:40px;
     }
     & span.ButtonText{
         font-size: 13px !important;
         padding: 10px;
         width: 140px;
     }
     & span.ButtonIcon {
        padding-right: 10px;
        width: 60px;
        &::after{
            position: absolute;
            content: " ";
            height: 120%;
            width: 15px;
            left: 0px;
            top: 0px;
            background: inherit;
            transform: rotate(20deg);
            transform-origin:top right;
        }
     }
 }


 /* STD COLORS */
 .greenColor{
     color: #2DB177;
 }
 .redColor {
    color: #E54650;
 }
 .blueColor{
     color: #0f4b9b;
 }

 /* STD BACKGROUNDS */
 .greenBg{
    background: #2DB177;
 }

 .redBg{
     background: #E54650;
 }
.blueBg{
    background: #0f4b9b;
}


