// getting google font

/* SANS PRO */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&display=swap');
//font-family: 'Source Sans Pro', sans-serif;
/* OPEN SANS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
/* HELVATICO  */
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    user-select: none;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}


