
$IconColor: #1C2483;
$BillsCommonWidth: 96%;
$testBorder: 1px solid red;
$fontColor: #2A1AB1;
$orangeColor: #F19226;
$leftMargin: 10px;
$color: #392CDE;
.billsContainer{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
    width: 100%;
    position: relative;
    //background: #C1C3CD !important;
}

.BLGcontainer{
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
    width: 96%;
    height: 125px;
    background: #fff;
    padding: 1px;
    border-radius: 4px;


    // not touched
    & .BLGHeader{
        margin-left: 15px;
        margin-top: 10px;

        & div:nth-child(1){
            height: 40px;
            width: 250px;
            background: linear-gradient(to right, #eee, #ddd);
        }

        & div:nth-child(2){
            margin-top: 10px;
            height: 20px;
            width: 250px;
            background: linear-gradient(to right, #eee, #ddd);
        }
    }


    // not touched
    & .BLGHeaderDeatils{
        display: block;
        list-style-type: none;
    }
}

// BLBcontainer
.BLBcontainer{
    margin: 20px auto auto auto;
    width: 96%;
    height: auto;
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 8px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    & li {
        list-style-type: none;
        height: 62px;
        width: 100%;
        background: #fff;
        border-radius: 6px;
    }
}


.billsContainer{


    & .BGContainer{
        position: relative;
        margin: 0 auto;
        height: 130px;
        width: $BillsCommonWidth;
        background: #fff;
        margin-top: 15px;
        background: #fff;
        border-radius: 4px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 20px 20px 5px;


        & h3 {
            grid-area: 1/1/2/4;
            display:flex;
            align-items: center;
            margin-left: $leftMargin;
            font-size: 25px;
            font-weight: 900;
        }
        & button{
            grid-area: 1/4/2/5;
            background: #fff;
            outline: none;
            cursor: pointer;
            width: 40px;
            height: 30px;
            justify-self: end;
            font-size: 20px;  
            border:none;
        }
        & p {
            font-size: 14px;
            font-weight: bold;
            margin-left: $leftMargin;
        }

        & p.BGCreatedBy {
            grid-area: 2/1/3/3;
         
        }

        & p.BGCreatedAt{
            grid-area: 3/1/4/3;
         
        }
    }

    & .BGDetailsContainer{
        position: relative;
        margin: 1px auto auto auto;
        width: $BillsCommonWidth;
        height: auto;
        background: #fff;
        border-radius: 4px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px;
        justify-items: start;
        align-items:center;
        

        & li {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            background: #fff;
            box-shadow: 0px 0px 1px #8276d1;  
            overflow: hidden;
            align-items: center;

            & h3, & h2{
                text-align: center;
                width: 100%;
                color: $color;
            }
            & h3{
                margin-top: 10px;
                display: block;
                width: 100%;
                height: 35%;
                text-align:center;
                //margin-top: 10px;
                font-size: 18px;
            }
            & h2 {
                margin-top: 0px;
                font-size: 26px;
                height: 60%;
            }
        }

        & .B_closeBGDetails{
            position: absolute;
            height: 25px;
            width: 25px;
            background: #fff;
            right: 25px;
            top: 0%;
            transform: translateY(-50%);
            color: $IconColor;
            border-radius: 50%;
            cursor: pointer;
        }
    }


    & .BFilter{
        display: flex;
        justify-content: flex-end;
        width: $BillsCommonWidth;
        height: 50px;
       // border: $testBorder;
        margin: 0 auto;


        & ul.BPagination{
            width: 150px;
            //border: $testBorder;
            display: flex;
            list-style-type: none;
            flex-direction: row;
            align-self: center;
            & li {
               display: flex;
               justify-content: center;
               align-items: center;
               height: auto;
               padding: 5px;
               margin-left: 5px; 
            }
        }
    }

    // ignore for now
    & ul.BTitle{
        margin: 0 auto;
        width: $BillsCommonWidth;
        height: 50px;
        border: $testBorder;
        list-style-type: none;
        color: #0D0C0F;
        display: flex;
        flex-direction: row;
        & li {
            margin-right: 10px;
        }

    }

    & ul.BComponent{
        list-style-type: none;
        width: $BillsCommonWidth;
        margin: 0 auto;
        display: grid;
        grid-auto-rows: 80px;
        grid-template-columns: 1fr;


        & li.BComponentList {
            width: 100%;
            height: 100%;
            background: #fff;
            box-shadow: 0px 0px 1px #8276d1;
            border-radius: 4px;
            margin-top: 5px;

            & ul.BULNested{
                margin: 0 auto;
                list-style-type: none;
                height: 100%;
                width:100%;
                font-size: 18px;
                color: $fontColor;
                display: grid;
                grid-template-columns: 50px 3fr 150px 1fr 1fr ;
                grid-template-rows: 1fr;
                
                & .BULN_Date{
                    align-self: center;
                    justify-self: center;
                    padding: 8px 5px;
                    font-weight: bold;
                    //box-shadow: 0px 0px 1px #8276d1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: #000;
                    & div.month{
                        font-weight: 400;
                        font-size: 13px;
                        font-weight: bold;
                    }

                    & div.day{
                        font-size: 22px;
                        margin-top: -6px;
                    }
                }
                & .BULN_Amount{
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-column-gap: 8px;
                    grid-template-columns: auto 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas: "amount added_by"
                                        "amount paid_by";
                    & .amount{
                        align-self:center;
                        justify-self: center;
                        display: flex;
                        height: 100%;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        grid-area: amount;
                        font-size: 25px;
                        padding: 0px 5px;
                        color: $orangeColor;
                        //box-shadow: 0px 0px 1px #8276d1;
                    }
                    
                    & p {
                        color: #000;
                        display: flex;
                        align-items:flex-end;
                        font-size: 14px;
                        font-weight: bold;
                        &:last-child{
                            align-items: flex-start;
                        }
                        & .added_by, & .addedByName{
                            grid-area:added_by;
                            font-size: 12px;
                            font-weight: bold;
                            align-self: flex-end;
                            background:$IconColor;
                            color: #fff;
                            padding: 5px;
                            border-radius: 10px;
                        }
                        & .paid_by, & .paidByName{
                            margin-top: 3px;
                            align-self: flex-start;
                            grid-area: paid_by;
                            font-size: 12px;
                            font-weight: bold;
                            background:$IconColor;
                            color: #fff;
                            padding: 5px;
                            border-radius: 10px;
                        }

                        & .paidByName, & .addedByName{
                            border: none;
                            background: none; 
                            color: inherit;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
                & .BULN_Details{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                   // align-items: center;
                    justify-content: center;

                    & p {
                        font-size: 14px;
                        font-weight: bold; 
                        margin-top: 5px;
                        color: #000;
                    }
                    & span{
                        background:$IconColor;
                        color: #fff;
                        padding: 3px 5px;
                        border-radius: 10px;
                        font-size: 12px;
                    }

                }
                & .BULN_Lentowe{
                    width: auto;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr;
                    font-size: 14px;
                    font-weight: bold;
                    
                    & p {
                        font-weight: bold;
                        font-size: 16px;
                        text-align: center;
                        padding: 3px;
                        color: #000;
                    }

                    & .lentOwnTitle{
                      //color: $orangeColor;
                    }
                    & .lentOwnAmount{
                        font-size: 25px;
                        color: $orangeColor;
                    }
                }

                & .BULN_button{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items:center;

                    & button {
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: rotate(45deg);

                        & svg {
                            height: 33px;
                            width: 33px;
                            fill:rgb(255, 72, 72);
                        }
                    }
                }
            }

        }
    }
}


/* 
ADD REMOVE FREINDS OVERLAP
*/
.billsContainer {

    & .B_editRemoveMembersC {
        position:absolute;
        height : 100%;
        width: 100%;
        background: rgba(255, 255, 255, .9);
        top: 0;
        left: 0;
        z-index: 6;


        & ul {
            list-style-type: none;
            width: 280px;
            height: auto;
            background: #fff;
            border: $testBorder;
            margin: 40px auto;

            & li {
                border-bottom: $testBorder;
            }
        }
    }
}

// BillsMenu Component
.BGContainer {
    & .showBillsMenu {
        position: absolute;
        height: auto;
        width: 200px;
        right: 0;
        top: 0;
        border: $testBorder;
        z-index: 6;
        background: #ffff;

        & ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;


            & li {
                display: flex;
                height: auto;
                width: auto;
                justify-content: center;
                align-items: center;


                & button {
                    text-align: center;
                    height: 50px;
                    width: 100%;
                }
            }
        }
    } 
}

// BIll _Form
.billsContainer{

    & .Bill_Form_Container{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255,255,255, .7);
        z-index: 6;
        & form.Bill_Form{
            position: relative;
            margin: 20px auto;
            height: auto;
            width: 400px;
            height: 500px;
            border: $testBorder;
            background: #fff;
            overflow: hidden;

            & .Bill_Form_Close{
                position: absolute;
                right: 0px;
                top: 0;
                width: 60px;
                height: 30px;
            }

        }

    }

}

