.dashboardContainer{
    position: relative;
    height: 100%;
    width:100%;
    color: red;
}


.DBanner_container{
    height: 50px;
    width: 90%;
    border: 5px solid red;
}


.DLineChart_container{
    height: 50px;
    width: 90%;
    border: 5px solid red;
}