
$iconColor: #1C2483;
$GgridGap: 18px;
$dateCreatedHeight: 50px;
$commonMidCardWidth: 50px;
$commonMidCardMargin: 23px;
//$groupNameColor: #212045;#333B6A
$groupNameColor: #333B6A;
$profileIconWidth: 35px;
$testBorder: 1px solid red;

@mixin GN_commonMidCard{
    position: absolute;
    height: $dateCreatedHeight;
    width: calc(#{$dateCreatedHeight} + 5px);
    bottom: calc(-#{$dateCreatedHeight}/3);
    background: #ddd;
    z-index: 6;
}

@mixin commmonRadius{
    border-radius: 8px;
}
// .groupsContainer{
//     position: relative;

//     & ul.Gul {
//         display: grid;
//         grid-auto-flow: row;
//         grid-auto-rows: 200px;
//         grid-template-columns: repeat(3, 1fr);
//         grid-gap: $GgridGap;
//         padding: 30px;

//         & li {
//             display: block;
//             height: 100%;
//             width: 100%;
//             box-shadow: 0px 3px 3px rgb(183, 175, 238);
//         }
//         & li.GLoaderSIContainer, & li.GListSIContainer{
//             position: relative;
//             overflow: visible;
//             display: block;
//             height: 100%;
//             max-width: 100%;
//             overflow: hidden;
//             background: #fff;
//             & div.GL_groupName, & div.GLi_groupName{
//                 position: relative;
//                 height: 67%;
//                 width: 100%;
//                 background: inherit;
//                 border-bottom: 1px solid #ddd;

//                 &::after{
//                     position: absolute;
//                     content: "";
//                     top: 50%;
//                     left: 10px;
//                     transform: translateY(-50%);
//                     height: 40px;
//                     width: 90%;
//                     background: linear-gradient(to right, #eee, #ddd);
//                     //animation: GL_groupName 2s linear infinite;
//                 }
//                 & div.GL_menu{
//                     position: absolute;
//                     right: 20px;
//                     top: 15px;
//                     width: 7px;
//                     height: 7px;
//                     background: #ddd;
//                     border-radius: 50%;
//                     z-index: 6;

//                     &::after, &::before{
//                         content: "";
//                         position: absolute;
//                         height: 100%;
//                         width: 100%;
//                         animation: GLP_second 1.5s ease-in infinite;
//                     }

//                     &::before{
//                         left: -9px;
//                         border-radius: inherit;
//                         background: #eee;
//                         animation: GLP_first 1.5s ease-in infinite;
//                     }
//                     &::after{
//                         right: -9px;
//                         border-radius: inherit;
//                         background: #eee;
//                         animation: GLP_first 1.5s ease-in infinite;
//                     }
//                 }
//                 //CommonMidCard
//                 & div.GL_dateCreated, & div.GL_billsNumber, & div.GL_billsMembers{
//                     @extend %GN_commonMidCard;
//                 }

//                 & div.GL_dateCreated{
//                     left: 10px;
//                     background: #eee;
//                     animation: GLP_first 1.5s ease-in infinite;
//                 }
//                 & div.GL_billsNumber{
//                     left: calc(10px + #{$commonMidCardMargin} + #{$commonMidCardWidth});
//                     animation: GLP_second 1.5s ease-in infinite;
//                 }
//             }
//             & div.GL_profileIcons {
//                 position: relative;
//                 height: 38%;
//                 width: 100%;
//                 border-bottom: 1px solid #ddd;
//                 background: inherit;
//                 & div.GL_profileIcon{
//                     position: absolute;
//                     height: 35px;
//                     width: 35px;
//                     border-radius: 50%;
//                     background: #eee;
//                     top: 55%;
//                     transform: translateY(-50%);
//                 }
//                 & div.GL_profileIcon:first-child{
//                     left: 10px;
//                     animation: GLP_first 1.5s ease-in infinite;
//                 }
//                 & div.GL_profileIcon:last-child{
//                     left: 30px;
//                     background: #ddd;
//                     animation: GLP_second 1.5s ease-in infinite;
//                 }
//             }
//         }


//         & li button.createGButton{
//             display: flex;
//             flex-direction: column;
//             height: 100%;
//             width: 100%;
//             background: #fff;
//             border: none;
//             justify-content: center;
//             align-items: center;
//             font-size: 50px;
//             color: $iconColor; 
//             transition: all .2s ease-in;
//             cursor: pointer;
//             // 3B3B9D
//             &:hover{
//                 font-size: 56px;
//                 transition: all .19s ease-in;
//                 //margin-bottom: -10px;
//             }

//             &:hover .createGButtonIconC svg{
//                 transform: rotate(90deg);
//                 transition: all .2s ease-in;
//             }
//             & span.createGButtonIconC{
//                 height: 60px;
//                 width: 100px;
//             }

//             & span.createGButtonIconC svg{
//                 transition: all .2s ease-in;
//             }

//             & span.createGButtonText{
//                 font-size: 18px;
//                 height: 50px;
//                 width: 100%;
//                 font-weight: bold;
//             }

//         }

//         & li.GListSIContainer{

//             div.GLi_groupName{
//                 // fixing commong after
//                 &::after{
//                     height: 0px;
//                     width: 0px;
//                     display: none;
//                 }

//                 // h3 instead of after
//                 & h3 {
//                     position: absolute;
//                     top: 50%;
//                     left: 10px;
//                     transform: translateY(-50%);
//                     height: 40px;
//                     width: 90%;
//                     display: block;
//                     overflow: hidden;
//                     text-overflow: ellipsis;
//                     font-weight: bold;
//                     font-size: 19px;
//                     text-transform: uppercase;
//                     color: $groupNameColor;
//                 }
//                 // skipping menu
//                 & div.GLi_dateCreated, & div.GLi_billsNumber, & div.GL_billsMembers{
//                     @extend %GN_commonMidCard;
//                     background: #fff;
//                     box-shadow: 0px 2px 3px rgb(130, 118, 209);
//                     border-radius: 4px;
//                 }
//                 & div.GLi_dateCreated{
//                     left: 10px;

//                     & h3 {
//                         color: #2A1AB1;
//                         font-weight: bold;
//                         font-size: 22px;
//                         text-align: center;
//                         width: 100%;
//                         left: 0px;
//                         position: relative;
//                     }

//                     & p {
//                         position: absolute;
//                         bottom: 3px;
//                         width: 100%;
//                         height: auto;
//                         text-align: center;
//                         font-size: 12px;
//                         color: #2A1AB1;
//                         font-weight: bold;
//                         letter-spacing: 0px;
//                     }
//                 }
//                 & div.GLi_billsNumber{
//                     left: calc(10px + #{$commonMidCardMargin} + #{$commonMidCardWidth});
//                     & h3 {
//                         color: #2A1AB1;
//                         font-weight: bold;
//                         font-size: 22px;
//                         text-align: center;
//                         width: 100%;
//                         left: 0px;
//                         position: relative;
//                     }

//                     & p {
//                         position: absolute;
//                         bottom: 3px;
//                         width: 100%;
//                         height: auto;
//                         text-align: center;
//                         font-size: 12px;
//                         color: #2A1AB1;
//                         font-weight: bold;
//                     }
//                 }
//             }
//             div.GLi_profileIcons{
//                 position: relative;
//                 height: 38%;
//                 width: 100%;
//                 border-bottom: 1px solid #ddd;
//                 background: #fff;

//                 // IMG and P tag
//                 & .GLi_profileIcon{
//                     height: 35px;
//                     width: $profileIconWidth;
//                     top: 55%;
//                     transform: translateY(-50%);
//                 }

//                 & img.GLi_profileIcon{
//                     position: absolute;
//                     left: 10px;
//                     border-radius: 50%;
//                 }
//                 & p.GLIP_second{
//                     display: block;
//                     margin-left: 48px;
//                     position: relative;
//                     margin-right: 10px;
//                     width: auto;
//                     overflow: hidden;
//                     border-radius: none !important;
//                     text-overflow: ellipsis;
//                     font-size: 14px;
//                     line-height: 2.5;
//                     color:#2A1AB1;
//                 }
//             }
//         }
//     }

// }

// .groupsContainer {
//     & .GCreateContainer{
//         position: absolute;
//         height: 100%;
//         width: 100%;
//         top: 0;
//         left: 0;
//         background: rgba(248, 245, 245, 0.9);
//         z-index: 6;

//         & .createGroup{
//             margin: 100px auto;
//             width: 250px;
//             height: 180px;
//             background: #fff;
//             z-index: 9999;
//             display: grid;
//             grid-template-columns: 1fr;
//             grid-template-rows: 1fr 1fr 1fr;
//             grid-row-gap: 10px;
//             border-radius: 5px;
//             overflow: hidden;
//             box-shadow: 0px 2px 3px rgb(130, 118, 209);
//             padding-bottom: 20px;
//             & h3 {
//                 background: $groupNameColor;
//                 color: #fff;
//             }
//             & input {
//                 height: 40px;
//                 height: 100%;
//                 border-radius: 4px;
//                 margin: 5px 10px;
//                 padding: 2px;
//                 font-size: 16px;
//             }

//             & button {
//                 margin: 10px 10px 0px 10px;
//                 height: 40px;
//                 align-self: center;
//                 border-radius: 4px;
//                 cursor: pointer;
//             }
//         }
//     }
// }


// // animations
// @keyframes GL_groupName{
//     0%{
//         background: linear-gradient(to right, #eee, #ddd);
//     }
//     10%{
//         background: linear-gradient(to right, #eee 20%, #ddd);
//     }
//     20% {
//         background: linear-gradient(to right, #eee 40%, #ddd);
//     }
//     30%{
//         background: linear-gradient(to right, #eee 60%, #ddd);
//     }
//     40%{
//         background: linear-gradient(to right, #eee 100%, #ddd);
//     }
//     50%{
//         background: linear-gradient(to left, #eee 100%, #ddd);
//     }
//     60%{
//         background: linear-gradient(to left, #eee 80%, #ddd);
//     }
//     70%{
//         background: linear-gradient(to left, #eee 60%, #ddd);
//     }
//     80%{
//         background: linear-gradient(to left, #eee 40%, #ddd);
//     }
//     90%{
//         background: linear-gradient(to left, #eee 20%, #ddd);
//     }
//     100%{
//         background: linear-gradient(to left, #eee 0%, #ddd);
//     }
// }
// @keyframes GLP_first{
//     0%{
//         background: #eee;
//     }
//     50%{
//         background: rgb(165, 161, 161);
//     }
//     100%{
//         background: #eee;
//     }
// }
// @keyframes GLP_second{
//     0%{
//         background: #ddd;
//     }
//     50%{
//         background: #eee;
//     }
//     100%{
//         background: #ddd;
//     }
// }

/* -------------------------- */
/* START OF MBL DEVICE */

.groupsContainer{
    min-height: 0;
    min-width: 0;
    position: relative;
    height: auto;
    width:100%;
    padding: 35px 5px 30px 5px;
    background: #F3F1F9 !important;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "DBanner"
                "GUL";
    & ul.Gul {
        min-height: 0px;
        min-width: 0px;
        grid-area: "GUL";
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 90px;
        grid-auto-rows: 240px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: $GgridGap;
        & li {

            display: block;
            height: 100%;
            width: 100%;
            @include commmonRadius;

            &:hover {
                cursor: pointer;
            }
            //box-shadow: 0px 3px 3px rgb(183, 175, 238);
        }

        & li.GLoaderSIContainer, & li.GListSIContainer{
            position: relative;
            overflow: visible;
            display: block;
            height: 100%;
            max-width: 100%;
            overflow: hidden;
            background: #fff;
            & div.GL_groupName, & div.GLi_groupName{
                position: relative;
                height: 67%;
                width: 100%;
                background: inherit;
                border-bottom: 1px solid #0e37611e;

                &::after{
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                    height: 40px;
                    width: 90%;
                    background: linear-gradient(to right, #eee, #ddd);
                    //animation: GL_groupName 2s linear infinite;
                }
                & div.GL_menu{
                    position: absolute;
                    right: 20px;
                    top: 15px;
                    width: 7px;
                    height: 7px;
                    background: #ddd;
                    border-radius: 50%;
                    z-index: 6;

                    &::after, &::before{
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        animation: GLP_second 1.5s ease-in infinite;
                    }

                    &::before{
                        left: -9px;
                        border-radius: inherit;
                        background: #eee;
                        animation: GLP_first 1.5s ease-in infinite;
                    }
                    &::after{
                        right: -9px;
                        border-radius: inherit;
                        background: #eee;
                        animation: GLP_first 1.5s ease-in infinite;
                    }
                }
                //CommonMidCard
                & div.GL_dateCreated, & div.GL_billsNumber, & div.GL_billsMembers{
                    @include GN_commonMidCard;
                }

                & div.GL_dateCreated{
                    left: 10px;
                    background: #eee;
                    animation: GLP_first 1.5s ease-in infinite;
                }
                & div.GL_billsNumber{
                    left: calc(10px + #{$commonMidCardMargin} + #{$commonMidCardWidth});
                    animation: GLP_second 1.5s ease-in infinite;
                }
            }
            & div.GL_profileIcons {
                position: relative;
                height: 38%;
                width: 100%;
                border-bottom: 1px solid #ddd;
                background: inherit;
                & div.GL_profileIcon{
                    position: absolute;
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    background: #eee;
                    top: 55%;
                    transform: translateY(-50%);
                }
                & div.GL_profileIcon:first-child{
                    left: 10px;
                    animation: GLP_first 1.5s ease-in infinite;
                }
                & div.GL_profileIcon:last-child{
                    left: 30px;
                    background: #ddd;
                    animation: GLP_second 1.5s ease-in infinite;
                }
            }
        }
        & li button.createGButton{
            overflow: hidden;
            position:relative;
            margin-top: 15px;
            margin-left: 18px;
            height: 40px;
            width: 200px;
            background: #fff;
            border: none;
            cursor: pointer;
            cursor: pointer;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #0f4b9b;
            background: #0f4b9b;
            color: #fff;
            box-shadow: 0px 2px 6px 3px #10467c21;
            display: flex;
            flex-direction: row-reverse;
            align-items:center;
            justify-items:center;


            //justify-content: center;
           // color: $iconColor; 
            //transition: all .2s ease-in;
           // @include commmonRadius;
            // 3B3B9D

            &::after {
                position: absolute;;
                top: 0;
                left: 0;
                content: 'Create group';
                width: 130px;
                height: 100%;
                color: #0f4b9b;
                background: #fff;
                text-transform: uppercase;
                line-height: 3;
                cursor: pointer;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 1px;
            }
            & span {
                //display: inline-block;
            }
            &:hover{
                // font-size: 56px;
                // transition: all .19s ease-in;
                //margin-bottom: -10px;
            }

            &:hover .createGButtonIconC svg{
                // transform: rotate(90deg);
                // transition: all .2s ease-in;
            }
            & span.createGButtonIconC{
                //grid-area: 1/1/2/2;
                width: 70px;
                font-size: 30px;
                align-self: center;
                line-height: 1.6;

                &::after{
                    position: absolute;
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-top:20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 20px solid #fff;
                    top: 50%;
                    transform: translateY(-58%);
                    left: -13px;
                }
             
            }

            & span.createGButtonIconC svg{
                //transition: all .2s ease-in;
            }

            & span.createGButtonText{
                //grid-area: 1/2/2/3;
                height: 100%;
                width: 130px;
                justify-self:center;
        
            }

        }
        & li.GListSIContainer{

            div.GLi_groupName{
                height: 60%;
                // fixing commong after
                &::after{
                    height: 0px;
                    width: 0px;
                    display: none;
                }

                // h3 instead of after
                & h3 {
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                    height: 40px;
                    width: 90%;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: bold;
                    font-size: 19px;
                    text-transform: uppercase;
                    color: $groupNameColor;
                    padding-left: 18px;
                }
                // skipping menu
                & div.GLi_dateCreated, & div.GLi_billsNumber, & div.GL_billsMembers{
                    @include GN_commonMidCard;
                    background: #fff;
                    box-shadow: 0px 2px 3px rgb(130, 118, 209);
                    border-radius: 4px;
                }
                & div.GLi_dateCreated{
                    left: 18px;

                    & h3 {
                        //color: #2A1AB1;
                        color: #0f4b9b;
                        font-weight: bold;
                        font-size: 22px;
                        text-align: center;
                        width: 100%;
                        left: 0px;
                        position: relative;
                        padding: 0px;
                    }

                    & p {
                        position: absolute;
                        bottom: 3px;
                        width: 100%;
                        height: auto;
                        text-align: center;
                        font-size: 12px;
                        color: #0f4b9b;;
                        font-weight: bold;
                        letter-spacing: 0px;
                        text-transform: uppercase;
                        font-weight: 700;
                       // color: #3a426b;
                        
                    }
                }
                & div.GLi_billsNumber{
                    left: calc(10px + #{$commonMidCardMargin} + #{$commonMidCardWidth});
                    & h3 {
                        color: #0f4b9b;
                        font-weight: bold;
                        font-size: 22px;
                        text-align: center;
                        width: 100%;
                        left: 0px;
                        position: relative;
                        padding: 0px;
                    }

                    & p {
                        position: absolute;
                        bottom: 3px;
                        width: 100%;
                        height: auto;
                        text-align: center;
                        font-size: 12px;
                        color: #0f4c9b;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }
            div.GLi_profileIcons{
                position: relative;
                height: 40%;
                width: 100%;
                border-bottom: 1px solid #ddd;
                background: #fff;

                // IMG and P tag
                & .GLi_profileIcon{
                    display: inline-block;
                    height: 35px;
                    width: $profileIconWidth;
                    top: 55%;
                    transform: translateY(-40%);
                }

                & img.GLi_profileIcon, & h1.GLi_profileIcon{
                    position: absolute;
                    left: 18px;
                    border-radius: 50%;
                }

                & h1.GLi_profileIcon{
                    background: #0f4b9b;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    letter-spacing: 1px;
                }
                & p.GLIP_second{
                    display: block;
                    margin-left: 60px;
                    position: relative;
                    margin-right: 10px;
                    width: auto;
                    overflow: hidden;
                    border-radius: none !important;
                    text-overflow: ellipsis;
                    font-size: 14px;
                    line-height: 3.8;
                    color:#333B6A;
                    text-decoration: underline;

                    &:hover{
                        text-decoration:none;
                    }
                }
            }
        }
    }
}

.groupsContainer {
    & .GCreateContainer{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(248, 245, 245, 0.9);
        z-index: 6;

        & .createGroup{
            margin: 100px auto;
            width: 250px;
            height: auto;
            background: #fff;
            z-index: 9999;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            grid-row-gap: 15px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 2px 3px rgb(130, 118, 209);
            padding-bottom: 20px;
            
            & p {
                padding-left: 10px;
                padding-right: 10px;
                color: #E54650;
                font-weight: 400;
                font-size: 14px;
            }
            & h3 {
                background: #0f4c9b;
                color: #fff;
                font-weight: 600;
                font-size: 13px;
                letter-spacing: 1px;
                height: 60px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            & input {
                height: 45px;
                border-radius: 8px;
                margin: 5px 10px;
                padding-left: 10px;
                font-size: 16px;
                outline: none;
                border: none;
                box-shadow: 0px 0px 1px #ddd;
                border: 1px solid rgba(197, 193, 193, 0.842);
            }

            & button {
                margin: 0px 10px 0px 10px;
                height: 40px;
                align-self: center;
                border-radius: 4px;
                cursor: pointer;
                outline: none;
                border: none;
                background: #0f4b9b;
                color: #FFF;
                font-weight: 600;
                font-size: 13px;
                letter-spacing: 1px;
                outline: none;
                text-transform: uppercase;
            }
        }
    }
}


// animations
@keyframes GL_groupName{
    0%{
        background: linear-gradient(to right, #eee, #ddd);
    }
    10%{
        background: linear-gradient(to right, #eee 20%, #ddd);
    }
    20% {
        background: linear-gradient(to right, #eee 40%, #ddd);
    }
    30%{
        background: linear-gradient(to right, #eee 60%, #ddd);
    }
    40%{
        background: linear-gradient(to right, #eee 100%, #ddd);
    }
    50%{
        background: linear-gradient(to left, #eee 100%, #ddd);
    }
    60%{
        background: linear-gradient(to left, #eee 80%, #ddd);
    }
    70%{
        background: linear-gradient(to left, #eee 60%, #ddd);
    }
    80%{
        background: linear-gradient(to left, #eee 40%, #ddd);
    }
    90%{
        background: linear-gradient(to left, #eee 20%, #ddd);
    }
    100%{
        background: linear-gradient(to left, #eee 0%, #ddd);
    }
}
@keyframes GLP_first{
    0%{
        background: #eee;
    }
    50%{
        background: rgb(165, 161, 161);
    }
    100%{
        background: #eee;
    }
}
@keyframes GLP_second{
    0%{
        background: #ddd;
    }
    50%{
        background: #eee;
    }
    100%{
        background: #ddd;
    }
}


// between 320 and 479
@media only screen and (min-width: 320px){
 

}

// between 480 and 767
@media only screen and (min-width: 480px){  
    .groupsContainer{
        padding: 25px 15px 30px 15px;
        display: grid;
        grid-row-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "DBanner"
                    "GUL";
        & ul.Gul {
            min-height: 0px;
            min-width: 0px;
            grid-area: "GUL";
            display: grid;
            grid-auto-flow: row;
            grid-template-rows: 90px;
            grid-auto-rows: 240px;
            grid-template-columns: repeat(1, 400px);
            grid-gap: $GgridGap;
        }
    }
}

// groups doublecolumn 
@media only screen and (min-width: 660px){  
    .groupsContainer{
        padding: 25px 15px 30px 15px;
        display: grid;
        grid-row-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "DBanner"
                    "GUL";
        & ul.Gul {
            min-height: 0px;
            min-width: 0px;
            grid-area: "GUL";
            display: grid;
            grid-auto-flow: row;
            grid-template-rows: 90px;
            grid-auto-rows: 240px;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: $GgridGap;

            & li.GulCreateLi{
                grid-column: 1/ span 2;
            }
        }
    }
}


// between 768 and 991
@media only screen and (min-width: 768px) and (max-width: 991px){


}
// between 992 and 1199
@media only screen and (min-width: 992px) and (max-width: 1199px){ 
   

}
// above 1200
@media only screen and (min-width: 1200px){


}