.BTNLoader{
    outline: none;
    //border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & .BTN_L{
    width: 4px;
    height: 0px;
    background: #fff;
    margin-right: 5px;
    border-radius: 6px;
    color: inherit;
    }
}
.BTN_height{
    height: 44px;
}
// 44
@for $i from 1 through 3 {
    .BTN_L:nth-child(#{$i}){
        animation: loaderButton 1s ease-out infinite;
        animation-delay: (#{($i)*0.15s});
    }
}
@keyframes loaderButton{
    0%{
        height: 10px;
    }
    50%{
        height: 25px;
    }
    100%{
        height: 10px;
    }
}


// UIC_C_CONAINER


.UIC_C_Container{
    border-radius: 8px;
    height: auto;
    width: 80%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px auto;
    grid-column-gap: 10px;
    background: #fff;
    padding: 18px;
    box-shadow: 0px 2px 3px #ddd;

    & div.UIC_ICON_LEFT{
        grid-area: 1/1/2/2;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #fff;
        & svg {
            fill: #fff;
        }
    }

    & h3 {
        grid-area: 1/2/2/3;
        align-self: center;
        color: #9c9797
    }

    & p {
        grid-area: 2/2/3/2;
        color: #3a426b;
        font-size: 14px;
        font-weight: 600;
        margin-top: -10px;
    }

    & button.UIC_button{
        grid-area: 1/3/2/4;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background: #fff;
        color: rgb(114, 109, 109);
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
            color: rgb(105, 101, 101);
        }
    }
}





.UIC_Line{
    position: absolute;
}
.UIC_Line_SUCCESS{
    background: #2DB177 !important;
}
.UIC_Line_ERROR{
    background: #E54650 !important;
}

.Button_White_background{
    background: #fff !important;
}

.Button_Blue_color{
    background: #0f4c9b !important;
}


.Button_Loader_Fix{
    border: none !important;
    outline: none !important;
    min-height: 40px !important;
}

.Button_overlay_background{
    background: #F3F1F9 !important;
}

.FORM_FIX{
    width: 150px !important;
    height: 40px !important;
}

.ACTIVITY_FIX{
    background: #fff !important;
    height: 40px;
    width: auto;
    border: none !important;
    outline: none !important;
}